<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>Admin Setting</title>
<link rel="icon" href="static/favicon.ico" type="image/ico">
<link href="static/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/materialdesignicons.min.css" rel="stylesheet">
<link href="static/css/style.min.css" rel="stylesheet">
</head>
  
<body >
<div class="lyear-layout-web" id="sx" >
<!--	刷新id="sx"-->
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <aside class="lyear-layout-sidebar">
      
      <!-- logo -->
      <div id="logo" class="sidebar-header">
        <a href="index.html"><img src="static/images/logo-sidebar.png" title="LightYear" alt="LightYear" /></a>
      </div>
      <div class="lyear-layout-sidebar-scroll"> 
        
        <nav class="sidebar-main">
          <ul class="nav nav-drawer">
            <li class="nav-item active"> <a href="/"><i class="mdi mdi-home"></i> 首页 </a> </li>
            <li class="nav-item nav-item-has-subnav">
				 <a href="/break"><i class="mdi mdi-cursor-pointer"></i>脱离控制</a>
				 <a href="/file"><i class="mdi mdi-file"></i>文件下载</a>
			  <a href="/control"><i class="mdi mdi-desktop-tower"></i>控制靶机</a>
              <a href="/group"><i class="mdi mdi-server"></i>群控管理</a>
             
            </li>
            
            
            
            <li class="nav-item nav-item-has-subnav">
              <a href="/setting"><i class="mdi mdi-settings"></i> 设置</a>
             
            </li>
          </ul>
        </nav>
        
        <div class="sidebar-footer">
          <p class="copyright">Copyright &copy; 2022.<a href="https://rerizon.cn"> Yi</a> All rights reserved.</p>
        </div>
      </div>
      
    </aside>
    <!--End 左侧导航-->
    
    <!--头部信息-->
    <header class="lyear-layout-header">
      
      <nav class="navbar navbar-default">
        <div class="topbar">
          
          <div class="topbar-left">
            <div class="lyear-aside-toggler">
              <span class="lyear-toggler-bar"></span>
              <span class="lyear-toggler-bar"></span>
              <span class="lyear-toggler-bar"></span>
            </div>
            <span class="navbar-page-title"> Jiyu Strike {{room}}机房</span>
			 
          </div>
          
          <ul class="topbar-right">
            <li class="dropdown dropdown-profile">
              <a href="javascript:void(0)" data-toggle="dropdown">
                <img class="img-avatar img-avatar-48 m-r-10" src="static/images/users/avatar.jpg" alt="RHY" /> 
				  <span>{{power}}&nbsp;</span>
                <span> {{user}}<span class="caret"></span></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
              
                <li> <a href="javascript:void(0)"><i class="mdi mdi-delete"></i> 清空缓存</a></li>
                <li class="divider"></li>
                <li> <a href="/clear_login"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
              </ul>
            </li> 
            <!--切换主题配色-->
		    <li class="dropdown dropdown-skin">
				
			  <span data-toggle="dropdown" class="icon-palette"><i class="mdi mdi-palette"></i></span>
			  <ul class="dropdown-menu dropdown-menu-right" data-stopPropagation="true">
                <li class="drop-title"><p>主题</p></li>
                <li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="site_theme" value="default" id="site_theme_1" checked>
                    <label for="site_theme_1"></label>
                  </span>
                  <span>
                    <input type="radio" name="site_theme" value="dark" id="site_theme_2">
                    <label for="site_theme_2"></label>
                  </span>
                  <span>
                    <input type="radio" name="site_theme" value="translucent" id="site_theme_3">
                    <label for="site_theme_3"></label>
                  </span>
                </li>
			    <li class="drop-title"><p>LOGO</p></li>
				<li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="logo_bg" value="default" id="logo_bg_1" checked>
                    <label for="logo_bg_1"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_2" id="logo_bg_2">
                    <label for="logo_bg_2"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_3" id="logo_bg_3">
                    <label for="logo_bg_3"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_4" id="logo_bg_4">
                    <label for="logo_bg_4"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_5" id="logo_bg_5">
                    <label for="logo_bg_5"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_6" id="logo_bg_6">
                    <label for="logo_bg_6"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_7" id="logo_bg_7">
                    <label for="logo_bg_7"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_8" id="logo_bg_8">
                    <label for="logo_bg_8"></label>
                  </span>
				</li>
				<li class="drop-title"><p>头部</p></li>
				<li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="header_bg" value="default" id="header_bg_1" checked>
                    <label for="header_bg_1"></label>                      
                  </span>                                                    
                  <span>                                                     
                    <input type="radio" name="header_bg" value="color_2" id="header_bg_2">
                    <label for="header_bg_2"></label>                      
                  </span>                                                    
                  <span>                                                     
                    <input type="radio" name="header_bg" value="color_3" id="header_bg_3">
                    <label for="header_bg_3"></label>
                  </span>
                  <span>
                    <input type="radio" name="header_bg" value="color_4" id="header_bg_4">
                    <label for="header_bg_4"></label>                      
                  </span>                                                    
                  <span>                                                     
                    <input type="radio" name="header_bg" value="color_5" id="header_bg_5">
                    <label for="header_bg_5"></label>                      
                  </span>                                                    
                  <span>                                                     
                    <input type="radio" name="header_bg" value="color_6" id="header_bg_6">
                    <label for="header_bg_6"></label>                      
                  </span>                                                    
                  <span>                                                     
                    <input type="radio" name="header_bg" value="color_7" id="header_bg_7">
                    <label for="header_bg_7"></label>
                  </span>
                  <span>
                    <input type="radio" name="header_bg" value="color_8" id="header_bg_8">
                    <label for="header_bg_8"></label>
                  </span>
				</li>
				<li class="drop-title"><p>侧边栏</p></li>
				<li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="sidebar_bg" value="default" id="sidebar_bg_1" checked>
                    <label for="sidebar_bg_1"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_2" id="sidebar_bg_2">
                    <label for="sidebar_bg_2"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_3" id="sidebar_bg_3">
                    <label for="sidebar_bg_3"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_4" id="sidebar_bg_4">
                    <label for="sidebar_bg_4"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_5" id="sidebar_bg_5">
                    <label for="sidebar_bg_5"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_6" id="sidebar_bg_6">
                    <label for="sidebar_bg_6"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_7" id="sidebar_bg_7">
                    <label for="sidebar_bg_7"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_8" id="sidebar_bg_8">
                    <label for="sidebar_bg_8"></label>
                  </span>
				</li>
			  </ul>
			</li>
            <!--切换主题配色-->
          </ul>
          
        </div>
      </nav>
      
    </header>
    <!--End 头部信息-->
    
    <!--页面主要内容-->
	 
    <main class="lyear-layout-content">
		
      
      <div class="container-fluid">
        
        <div class="row" >
          <div class="col-sm-6 col-lg-3">
            <div class="card bg-primary">
              <div class="card-body clearfix">
                <div class="pull-right" >
                  <p class="h6 text-white m-t-0" >当前机房:</p>
                  <p class="h3 text-white m-b-0 fa-1-5x">{{room}}</p>
					
                </div>
                <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-server fa-1-5x"></i></span>&nbsp; </div>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-lg-3">
            <div class="card bg-danger">
              <div class="card-body clearfix">
                <div class="pull-right">
                  <p class="h6 text-white m-t-0">连接人数:</p>
                  <p class="h3 text-white m-b-0 fa-1-5x">{{member}}</p>
                </div>
                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-account-multiple fa-1-5x"></i></span> </div>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-lg-3">
            <div class="card bg-success">
              <div class="card-body clearfix">
                <div class="pull-right">
                  <p class="h6 text-white m-t-0">当前IP:</p>
                  <p class="h3 text-white m-b-0 fa-1-5x">{{ipnow}}</p>
                </div>
                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-code-greater-than fa-1-5x"></i></span> </div>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-lg-3">
            <div class="card bg-purple">
              <div class="card-body clearfix">
                <div class="pull-right">
                  <p class="h6 text-white m-t-0">版本 Ver:</p>
                  <p class="h3 text-white m-b-0 fa-1-5x">{{ver}}</p>
                </div>
                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-language-python fa-1-5x"></i></span> </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
           <div class="col-lg-12">
            <div class="card">
              <div class="card-toolbar clearfix">
                <form class="pull-right search-bar" method="get" action="#!" role="form">
                  <div class="input-group">
                    <div class="input-group-btn">
                      
                      
                    </div>
                    <input type="text" class="form-control" value="" name="keyword" placeholder="请输入名称">
                  </div>
                </form>
                <div class="toolbar-btn-action">
                 
                  <a class="btn btn-success m-r-5" id="start"><i class="mdi mdi-check"></i> 启用</a>
                  <a class="btn btn-warning m-r-5"  id="wh"><i class="mdi mdi-block-helper"></i> 维护</a>
                  <button class="btn btn-danger" type="button" id="stop"><i class="mdi mdi-window-close"></i> 停用</button>
                </div>
              </div>
              <div class="card-body">
                
               
				  
				   <div class="form-group">
                      <label for="msg">公告消息</label>
                      <input class="form-control" type="text" name="allmsg" value="" id="allmsg" placeholder="请输入公告信息" >
                     </small>
				  </br>
                    </div>
				
					 <button type="button" id="allm" class="btn btn-primary m-r-5">发 送</button>
                    
				    <div class="form-group">
						</br>
                     <div class="form-group row m-b-10">
                    <div class="col-xs-6">极域消息开关</div>
                    <div class="col-xs-6">
                      <label class="lyear-switch switch-solid switch-primary">
                        <input type="checkbox"  {% if jymsg %}checked="" {% endif%}id="jymsg">
                        <span></span>
                      </label>
                    </div>
                  </div>
				  </br>
                    </div>
               
              </div>
            </div>
          </div>
          
         
          
        
			
			
			
           
        </div>
        

        
        
        
        
      </div>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="static/js/main.min.js"></script>
<script type="text/javascript" src="static/js/Chart.js"></script>
<script type="text/javascript" src="static/js/lightyear.js"></script>
<script src="static/js/bootstrap-notify.min.js"></script>
<script type="text/javascript">
	
  $('#jymsg').click(function(){
	 var obj = document.getElementById("jymsg");
var value = obj.checked;
	 lightyear.loading('show');
  $.post("/setting/apiset",
  {
	  setClass:'jymsg',
	  value:value
  },
  function(data){
	  lightyear.loading('hide');
    lightyear.notify('极域消息修改'+data+'~', 'success', 3000); 
  });
});
	
 $('#stop').click(function(){
	 lightyear.loading('show');
  $.post("/setting/apiset",
  {
	  setClass:'sers',
	  value:'danger'
  },
  function(data){
	  lightyear.loading('hide');
    lightyear.notify('服务端关闭'+data+'~', 'success', 3000); 
  });
});
	
$('#start').click(function(){
	 lightyear.loading('show');
  $.post("/setting/apiset",
  {
	  setClass:'sers',
	  value:'success'
  },
  function(data){
	  lightyear.loading('hide');
    lightyear.notify('服务端开启'+data+'~', 'success', 3000); 
  });
});	
	$('#allm').click(function(){
	 lightyear.loading('show');
		 var input = document.getElementsByName('allmsg')[0];
	 allmsg  =input.value
  $.post("/setting",
  {
	  allmsg:allmsg
  },
  function(data){
	  lightyear.loading('hide');
    lightyear.notify('消息发送'+data+'~', 'success', 3000); 
  });
});
	</script>


</body>
</html>